@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bold";
  src: url(../../public/fonts/ZonaPro-Bold.ttf);

}
@font-face {
  font-family: "Regular";
  src: url(../../public/fonts/ZonaPro-Regular.ttf);
}
@font-face {
  font-family: "TTRegular";
  src: url(../../public/fonts/TT-Regular.otf);
}
@font-face {
  font-family: "TTBold";
  src: url(../../public/fonts/TT-Bold.otf);
}
@font-face {
  font-family: "TTDemibold";
  src: url(../../public/fonts/TT-Demibold.otf);
}
/* 
:root {
  background-color:  #101010;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color:  #101010;
  /* background-color:  #101010;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  overflow: hidden;
}
.container {
  width: 100vw;
  position: relative;
  cursor: none;
}


svg {
    width: 100vw;
    position: relative;
    top: 50vh;
    transform: translateY(-50%); 
}

.dark-layer {
  background: rgba(0,0,0,0.95);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
 #owl {
  transform-origin: 64% 68%;
  transition: transform 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#owl:hover {
  transform: scale(1.2);
} 
 #house #window-group-1 path{
  transition: fill 1s ease;
}
#house:hover #window-group-1 path {
  fill: #0d1221;
} 

